.App {
  font-family: Georgia, 'Times New Roman', Times;
  font-size: 100px;
}

.App_intro {
  background: url('./assets/background.jpg');
  min-height: 100vh;
  position: relative;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  display: flex;
  padding: 0 5%;
  justify-content: space-between;
  font-size: 90px;
  align-items: center;
  font-family: 'Kaushan Script';
}

.title h1 {
  margin: 30px 0;
}

.logos {
  font-size: 210px;
  color: #d7d7f6;
}

.auten_form {
  position: absolute;
  text-align: center;
  width: 29%;
  left: 36.3%;
  bottom: 30%;
}

fieldset {
  border: double 5px #eeeeee;
}

legend {
  font-size: 40px;
  line-height: 1.5;
}

.field {
  display: inline-block;
  min-width: 320px;
  padding: 20px 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times;
  font-size: 20px;
  text-align: center;
  outline-color: #0080ff;
}

.submit {
  font-family: Georgia, 'Times New Roman', Times;
  font-size: 20px;
  padding: 20px 80px;
  border-radius: 50px;
  cursor: pointer;
}

.submit:hover {
  background-color: #0080ff;
  color: #eeeeee
}