.App {
    font-family: Georgia, 'Times New Roman', Times;

}

.App_intro {
    background: url('../assets/background.jpg');
    min-height: 100vh;
    position: relative;
    color: white;
}

.autenticate {
    position: absolute;
    right: 1%;
    top: 0.5%;
}

.autenticate button {
    padding: 10px 26px;
    border-radius: 20px;
    background-color: #f0ac4e;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    transition: background .0s linear;
    transition: text-shadow .0s ease;
}

.autenticate button:hover {
    cursor: pointer;
    text-shadow: 5px 5px 10px #ff9500, -4px -4px 9px #ff9500;
    background-color: #f0ac4eb4;

}

.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5%;
    font-size: 70px;
    align-items: center;
    font-family: 'Kaushan Script';
}

.title h1 {
    margin: 30px 0;
}

.title h1 span {
    text-shadow: 5px 5px 10px #fccfdb, -4px -4px 9px #fccfdb;
}

.logos {
    font-size: 210px;
    color: #fff;
    text-shadow: 5px 5px 10px #d7d7f6, -4px -4px 9px #d7d7f6
}

.write {
    background-color: #6b4845c5;
    font-family: Georgia, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    text-transform: uppercase;
}

.write_n_share {
    max-width: 72.5%;
    padding: 40px 0px 40px 80px;
}

.just_write {
    max-width: 37%;
    padding: 40px 0px 40px 80px;
}

.reasons_title {
    font-size: 70px;
    margin: 0px 0px 40px;
    padding: 0 10%;
    text-align: center;
    text-shadow: 0 1px 0 rgb(204, 204, 204),
        0 2px 0 #c9c9c9,
        0 3px 0 rgb(187, 187, 187),
        0 4px 0 #b9b9b9,
        0 5px 0 rgb(170, 170, 170),
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

.reasons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 3%;
}

.reasons:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: #f0ac4e;
    margin: 0 auto 50px auto;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0%;
    position: relative;
    background-color: #6b48454f;
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
    font-family: Montserrat, 'Times New Roman', Times, serif;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 130px;

}

.copyright_product_name {
    font-family: 'Kaushan Script', 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 10px #fccfdb, -4px -4px 9px #fccfdb;
}

.developer_name {
    font-size: 40px;
    font-weight: 900;
    text-shadow: 5px 5px 10px #ff9500, -4px -4px 9px #ff9500;
}

.social_links {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

.social_links_logo {
    background-color: #6b4845d5;
    padding: 5px 15px;
    border-radius: 50%;
    border: solid 1px #333;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    transition: background .0s linear;
    transition: color .0s linear;
}

.social_links_logo:hover {
    background-color: #ffffff;
    color: #6b4845;
}

.social_links_logo:nth-child(3) {
    padding-right: 10px;
}

.social_links_logo:nth-child(4) {
    padding-right: 10px;
    padding-left: 8px;
}