.record {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

.record:last-child {
    margin-bottom: 0;
}


.record_image {
    display: block;
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: solid 1px #333;
}

.data_container {
    flex-basis: 83%;
}

.title {
    color: #ff8000;
    text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
    font-weight: 700;
    font-size: 30px;
    font-family: Cambria, sans-serif;
    font-weight: 900;
}

/* .title {
    text-shadow: -3px 2px 3px #ff9100, 3px -2px 3px #ff9100;
} */

.date {
    font-family: Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
    color: #0080ff;
    font-style: italic;

}

.content {
    margin-top: 10px;
    color: #000000;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    word-break: break-all;
}