.record {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin-bottom: 100px;
    padding-bottom: 50px;
    border-bottom: solid #FFDE00 3px;
}

.record:last-child {
    margin-bottom: 0;
}


.record_image {
    display: block;
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: solid 1px #333;
}

.data_container {
    flex-basis: 85%;
}

.title {
    color: #ff8000;
    text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
    font-weight: 700;
    font-size: 30px;
    font-family: Cambria, sans-serif;
    font-weight: 900;
}

.date {
    font-family: Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
    color: #0080ff;
    font-style: italic;

}

.content {
    margin-top: 10px;
    color: #d7d7f6;
    font-size: 24px;
    font-family: Geneva, Tahoma, sans-serif, sans-serif;
    word-break: break-all;
}

.edit {
    position: absolute;
    right: -8%;
    top: 0%;
    background-color: #0080ff;
    color: #ffffff;
    padding: 10px 10px 15px 20px;
    border-radius: 50%;
    border: solid 1px #333;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    transition: background .0s linear;
    transition: color .0s linear;
}

.download_modif {
    top: 50%;
    padding: 15px 25px 12px 25px;
    background-color: #F20056;
    color: #ffffff;
    cursor: pointer;
}

.edit:hover {
    background-color: #ffffff;
    color: #0080ff;
}

.download_modif:hover {
    background-color: #ffffff;
    color: #F20056;
}