.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    padding: 10px 2.5%;
    background-color: #ff8000;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    z-index: 5;
}

.user_link_container {
    flex-basis: 35%;
    align-self: flex-start;
    word-break: break-all;

}

.user_link {
    text-decoration: none;
    font-family: 'Kaushan Script', 'Times Italic';
    font-size: 40px;
    color: #333333;
    text-shadow: 5px 5px 10px #ff0037, -5px -5px 10px #ff0037;
    animation: userName 12s linear 0.7s infinite;
}

.nav {
    flex-basis: 37%;
    display: flex;
    justify-content: space-between;
}

.link {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0px 15px;
}

.link:last-child {
    padding-right: 0;
}

.link:hover {
    text-shadow: 5px 5px 10px #d7d7f6, -4px -4px 9px #d7d7f6;
    text-decoration: underline;
}

.active {
    text-shadow: 5px 5px 10px #d7d7f6, -4px -4px 9px #d7d7f6;
    text-decoration: underline;
    color: #0080ff;
}

.search_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 17%;
}


.search_field {
    display: block;
    font-size: 16px;
    color: #000000;
    padding: 10px 10px;
    width: 163px;
    border: none;
    border-bottom: solid 1.5px #0080ff;
    outline: none;
}

.icon {

    display: block;
    color: #fff;
    font-size: 28px;
    border-radius: 10px;
    cursor: pointer;

}

.icon:hover {
    text-shadow: 5px 5px 10px #d7d7f6, -4px -4px 9px #d7d7f6;
}

@keyframes userName {
    0% {
        text-shadow: 5px 5px 10px #fb117e, -5px -5px 10px #fb117e;
        color: #3b3836;
    }

    8% {
        text-shadow: 5px 5px 10px #d811fb, -5px -5px 10px #d811fb;
        color: #d47c52;
    }

    16% {
        text-shadow: 5px 5px 10px #a511fb, -5px -5px 10px #a511fb;
        color: #fbc411;
    }

    24% {
        text-shadow: 5px 5px 10px #8a11fb, -5px -5px 10px #8a11fb;
        color: #d8fb11;
    }

    32% {
        text-shadow: 5px 5px 10px #1115fb, -5px -5px 10px #1115fb;
        color: #6ffb11;
    }

    40% {
        text-shadow: 5px 5px 10px #117efb, -5px -5px 10px #117efb;
        color: #11fb86;
    }

    48% {
        text-shadow: 5px 5px 10px #11b9fb, -5px -5px 10px #11b9fb;
        color: #11fbd4;
    }

    56% {
        text-shadow: 5px 5px 10px #11fbd4, -5px -5px 10px #11fbd4;
        color: #11b9fb;
    }

    64% {
        text-shadow: 5px 5px 10px #11fb86, -5px -5px 10px #11fb86;
        color: #d811fb;
    }

    72% {
        text-shadow: 5px 5px 10px #6ffb11, -5px -5px 10px #6ffb11;
        color: #a511fb;
    }

    80% {
        text-shadow: 5px 5px 10px #d8fb11, -5px -5px 10px #d8fb11;
        color: #8a11fb;
    }

    88% {
        text-shadow: 5px 5px 10px #fbc411, -5px -5px 10px #fbc411;
        color: #1115fb;
    }

    96% {
        text-shadow: 5px 5px 10px #fb5b11, -5px -5px 10px #fb5b11;
        color: #117efb;
    }

    100% {
        text-shadow: 5px 5px 10px #ff6600, -5px -5px 10px #ff6600;
        color: #11b9fb;
    }
}