.container {
    position: fixed;
    top: 9em;
    right: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffdd57;
    border: solid 3px #000000;
    min-width: 250px;
    max-width: 250px;
    padding: 20px 20px;
    cursor: pointer;
    transition: .1s background linear;

}

.nickname {
    margin-right: 5px;
    color: #6600CC;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    transition: color 0.1s linear;
    transition: text-shadow 0.1s linear;
    word-break: break-all;
}

.container:hover {
    background-color: #ffcc00;

}

.container:hover .nickname {
    color: #8000ff;
}


.image {
    display: block;
    border: solid 2px #000000;
    width: 90px;
    height: 90px;
}

.list_icon {
    font-size: 28px;
    margin-left: 5px;
    color: #8000ff;
    cursor: pointer;
}

/*Sub profile*/
.sub_profile {
    position: fixed;
    top: 18em;
    right: 2%;
    display: flex;
    align-items: center;
    background-color: #FFFBD0;
    padding: 20px 20px;
    border: solid 3px #000000;
    transition: .1s background linear;
    width: 390px;
}

.sub_profile_info {
    margin-left: 15px;
    word-break: break-all;
}

.sub_profile_nickname {
    color: #6600CC;

    font-weight: 700;
    font-family: 'Kaushan Script', Georgia, Times, 'Times New Roman', serif;
    font-size: 34px;
}

.sub_profile_email {
    color: #FF9900;
    font-size: 26px;
}

.sub_profile_email:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sub_profile_about {
    margin-top: 10px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
    color: #C13100;
}